@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<PortfolioWebsite.Models.Comment>

@{
    var commentCount = 0;
    if (Model != null)
    {
        commentCount = Model.Count();
    }

}
<h2>Comments</h2>
@if (User.Identity.IsAuthenticated && ViewData.Keys.Contains("WorkID")) //Add Authorization
{
    <div id="Create_Comment">
        @await Html.PartialAsync("/Views/Comments/_Create.cshtml", new Comment() { WorkID = (int)ViewData["WorkID"] })
    </div>
}
@if (commentCount > 0)
{
    <ul id="Comments">
        @await Html.PartialAsync("/Views/Comments/_Index.cshtml", Model.Where(c => c.IsRoot()))
    </ul>
}


