@using PortfolioWebsite.Constants

@model PortfolioWebsite.Models.Comment

<form method="post" asp-controller="Comments" asp-action="Create" data-ajax="true" data-ajax-url="@Url.Action("Create", "Comments", new { response = ResponseTypes.AJAX })" data-ajax-update="#Comments" data-ajax-mode="before">
    @await Html.PartialAsync("/Views/Comments/_Form.cshtml", Model)
    <input type="submit" value="Create" class="btn btn-default" />
</form>

