@model IEnumerable<PortfolioWebsite.Models.Comment>

@foreach (var item in Model.Reverse())
{
<li id="Comment_Group_@item.ID">
    @if (!ViewData.Keys.Contains("WorkID"))
    {
        @*
            <a asp-controller="Works" asp-action="Details" asp-route-id="@item.Work.ID">@item.Work.Title</a>
        *@
    }
    <div id="Comment_@item.ID">
        @await Html.PartialAsync("/Views/Comments/_Details.cshtml", item)
    </div>
    <div id="Controls_For_Comment_@item.ID">
        @await Html.PartialAsync("/Views/Comments/_Controls.cshtml", item)
    </div>

    @*If the comment has replies, show them.*@
    <ul id="Replies_For_Comment_@item.ID">
        @if (item.Replies != null && item.Replies.Count > 0)
        {

            @await Html.PartialAsync("/Views/Comments/_Index.cshtml", item.Replies)

        }
    </ul>
</li>
}

