@model PortfolioWebsite.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Comment</h4>
<hr />
<form asp-action="Edit" method="post" asp-controller="Comments">
    @await Html.PartialAsync("/Views/Comments/_Form.cshtml", Model)
    <input type="submit" value="Save" class="btn btn-default" />
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}