@model IEnumerable<PortfolioWebsite.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@{
    var commentCount = 0;
    if (Model != null)
    {
        commentCount = Model.Count();
    }

}
@if (commentCount > 0)
{
    @await Html.PartialAsync("/Views/Comments/_Index.cshtml", Model)
}
