@model PortfolioWebsite.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h2>Reply</h2>

@await Html.PartialAsync("/Views/Comments/_Details.cshtml", Model.Parent)
@await Html.PartialAsync("/Views/Comments/_Reply.cshtml", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}